{% extends 'base.html' %} {% block title %}Review post{% endblock title %}
{%block content %}

<form method="POST"  enctype="multipart/form-data">
{{ form.hidden_tag() }}
<div class="flex flex-col lg:flex-row py-10">
  <div class="w-full lg:w-2/5 bg-gray-300 p-4 overflow-x-auto">
    <!-- component -->
    {{ form.image.label }}
    {{ form.image }}
  </div>
  <!-- 40% Container -->
  <div class="w-full lg:w-3/5 bg-gray-400 p-4">
    <!-- Content for the 40% part -->
    <p>hello tanish</p>
    <div class="flex flex-col">
      {{ form.title.label }}
      {{ form.title }}
      {{ form.price.label }}
      {{ form.price }}
      {{ form.description.label }}
      {{ form.description }}
      {{ form.submit }}
    </div>
    
  </div>
</div>
</form>
{% endblock content %}
