{% extends 'base.html' %} {% block title %}Market{% endblock title %} {% block
content %}
<div class="py-10">
  <h2 class="font-extrabold text-4xl text-white text-center justify-center m-3">
    Market page!
  </h2>
  <div class="flex flex-col lg:flex-row py-10">
    <!-- 80% Container -->
    <div class="w-full lg:w-4/5 bg-gray-600 md:p-4 mr-2">
      <div class="text-2xl text-white">Available Item</div>
      <table class="min-w-full">
        <thead class="bg-white border-b p-1 text-xs">
        <tr>
          <th class="w-1/8 px-2  py-1  text-left">ID</th>
          <th class="w-2/8 px-2  py-1  text-left">Name</th>
          <th class="w-1/8 px-2  py-1  text-left">Barcode</th>
          <th class="w-1/8 px-2  py-1  text-left">Price</th>
          <th class="w-3/8 px-2  py-1  text-left">Options</th>
        </tr>
        </thead>

        <tbody>
        {% for item in items %}
        <tr class="bg-gray-100 border-b">
          <td class="px-2 py-1 whitespace-nowrap">{{ item.id }}</td>
          <td class="px-2 py-1 whitespace-nowrap">{{ item.price }}</td>
          <td class="px-2 py-1 whitespace-nowrap">{{ item.name }}</td>
          <td class="px-2 py-1 whitespace-nowrap">{{ item.barcode }}</td>
          <td>
            <a href="#_" class="relative inline-block text-lg group">
              <!-- ... (your options button) ... -->
            </a>
            <a href="#_" class="relative inline-block text-lg group">
              <!-- ... (your like button) ... -->
            </a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  
    <!-- 40% Container -->
    <div class="w-full lg:w-2/5 bg-gray-400 p-4">
      <!-- Content for the 40% part -->
      <div class="text-2xl text-dark">Item Purchased</div>
      <li>iphone</li>
      <li>iphone</li>
      <li>iphone</li>
      <li>iphone</li>
    </div>
  </div>

</div>
{% endblock content %}
