{% extends 'base.html' %} {% block title %}Market{% endblock title %} {% block
content %}
<div class="py-32 text-center">
  <h2 class="font-extrabold text-4xl text-white text-center justify-center m-3">
    Market page!
  </h2>
  <div class="flex">
    <!-- 8:4 Ratio Container -->
    <div class="flex-grow bg-gray-300 p-4">
      <table>
        <!-- component -->
        <div class="flex flex-col">
          <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
            <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
              <div class="overflow-hidden">
                <table class="min-w-full">
                  <thead class="bg-white border-b">
                    <tr>
                      <th
                        scope="col"
                        class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
                      >
                        ID
                      </th>
                      <th
                        scope="col"
                        class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
                      >
                        Name
                      </th>
                      <th
                        scope="col"
                        class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
                      >
                        Barcode
                      </th>
                      <th
                        scope="col"
                        class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
                      >
                        Price
                      </th>
                      <th
                        scope="col"
                        class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
                      >
                        Options
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in items %}
                    <tr class="bg-gray-100 border-b">
                      <td
                        class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"
                      >
                        {{ item.id}}
                      </td>
                      <td
                        class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                      >
                        {{ item.name }}
                      </td>
                      <td
                        class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                      >
                        {{ item.barcode}}
                      </td>
                      <td
                        class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
                      >
                        {{ item.price }}
                      </td>
                      <td>
                        <a href="#_" class="relative inline-block text-lg group">
                          <span
                            class="relative z-10 block px-5 py-3 overflow-hidden font-medium leading-tight text-gray-800 transition-colors duration-300 ease-out border-2 border-gray-900 rounded-lg group-hover:text-white"
                          >
                            <span
                              class="absolute inset-0 w-full h-full px-5 py-3 rounded-lg bg-gray-50"
                            ></span>
                            <span
                              class="absolute left-0 w-48 h-48 -ml-2 transition-all duration-300 origin-top-right -rotate-90 -translate-x-full translate-y-12 bg-gray-900 group-hover:-rotate-180 ease"
                            ></span>
                            <span class="relative">more info</span>
                          </span>
                          <span
                            class="absolute bottom-0 right-0 w-full h-12 -mb-1 -mr-1 transition-all duration-200 ease-linear bg-gray-900 rounded-lg group-hover:mb-0 group-hover:mr-0"
                            data-rounded="rounded-lg"
                          ></span>
                        </a>
                        <a href="#_" class="relative inline-block text-lg group">
                          <span
                            class="relative z-10 block px-5 py-3 overflow-hidden font-medium leading-tight text-gray-800 transition-colors duration-300 ease-out border-2 border-gray-900 rounded-lg group-hover:text-white"
                          >
                            <span
                              class="absolute inset-0 w-full h-full px-5 py-3 rounded-lg bg-gray-50"
                            ></span>
                            <span
                              class="absolute left-0 w-48 h-48 -ml-2 transition-all duration-300 origin-top-right -rotate-90 -translate-x-full translate-y-12 bg-gray-900 group-hover:-rotate-180 ease"
                            ></span>
                            <span class="relative">Like it!</span>
                          </span>
                          <span
                            class="absolute bottom-0 right-0 w-full h-12 -mb-1 -mr-1 transition-all duration-200 ease-linear bg-gray-900 rounded-lg group-hover:mb-0 group-hover:mr-0"
                            data-rounded="rounded-lg"
                          ></span>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </table>
    </div>

    <div class="flex-grow-0 bg-gray-400 p-4">
      here 4
    </div>
  </div>

</div>
{% endblock content %}
