{% extends 'base.html' %}
{% block title %} Sign up {% endblock title %}
{% block content %}
    <form method="POST">
    {{ form.hidden_tag() }}
        <div class="min-h-screen p-6 bg-gray-900 flex items-center justify-center">
            <div class="container max-w-screen-lg mx-auto">
                <div>
                    <h2 class="font-bold text-3xl text-white">Registration Form</h2>
                    <br>

                    <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
                        <div class="grid gap-4 gap-y-2 text-xl grid-cols-1 lg:grid-cols-3">
                            <div class="text-gray-600">
                                <p class="font-semibold text-xl ">Personal Details</p>
                                <p class="font-medium text-lg">Please fill out all the fields.</p>
                            </div>

                            <div class="lg:col-span-2">
                                <div class="grid gap-4 gap-y-2 text-xl grid-cols-1 md:grid-cols-5">
                                    <div class="md:col-span-5">
                                        <label for="full_name">{{ form.username.label() }}</label>
                                        {{ form.username(placeholder="enter your name", class="h-10 bg-gray-700 border mt-1 rounded px-4 w-full text-white") }}
                                    </div>

                                    <div class="md:col-span-5">
                                        <label for="email">{{ form.email.label() }}</label>
                                        {{ form.email(placeholder="email@domain.com", class="h-10 bg-gray-700 border mt-1 rounded px-4 w-full text-white") }}
                                    </div>

                                    <div class="md:col-span-5">
                                        <label for="password">{{ form.password1.label() }}</label>
                                        {{ form.password1(placeholder="enter your strong password", class="h-10 bg-gray-700 border mt-1 rounded px-4 w-full text-white") }}
                                    </div>

                                    <div class="md:col-span-5">
                                        <label for="password">{{ form.password2.label() }}</label>
                                        {{ form.password2(placeholder="Confirm your password", class="h-10 bg-gray-700 border mt-1 rounded px-4 w-full text-white") }}
                                    </div>


                                    <div class="md:col-span-5 text-right">
                                        <div class="inline-flex items-end">
                                            {{ form.submit(class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded") }}
                                        </div>
                                    </div>

                                    
                                    <div class="md:col-span-5 text-blue-600 text-sm">
                                        <a href="{{url_for('login_page')}}">Already have an account ?</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}